:root {
  --background-color: #0d0d0d;
  --primary-color: #cc0315;
  --text-color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

section {
  max-width: 1300px;
  margin: 0 auto;
}
